<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
      <div id="betastamp">BETA</div>
      <center>
    <div class="container">
      <h3 class="logo">
        <a class="logolink" href="/"><img src="/images/logo_small.jpg" class="toplogo" />&nbsp;</a>
          <a href="/app">
              Social Surveys
          </a>
      </h3>
        
        <ul class="nav">          
            <li><a href="/app">My surveys</a></li>
        </ul>
      
        <!-- INCLUDE app.loggedinusermenu.html -->
      
  </div><!-- /topbar-inner -->
</div><!-- /topbar -->
</div>