<!-- WRAPPER template < survey/survey.wrapper.html -->

<h2 class="surveynameheader">{survey.surveyname}</h2>

<center>
  <p>
  	You succesfully completed the survey - thanks for participating!
  </p>

<div class="fb-like" data-href="http://www.werklozennet.be/survey?surveyid=49296b58266ac48fd2b61ff4cfef67ea" data-send="true" data-width="450" data-show-faces="true"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=167581786732324";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</center>