<!-- WRAPPER template < site.wrapper.html -->

<div class="hero-unit">

        <img class="pull-right" src="/images/splash.jpg" style="width:450px;box-shadow:5px 5px 5px #999;border:1px solid #999" />
  
        <h1>Social Surveys</h1>
        <p>
            <h2>Questionnaires in Facebook</h2>
            
          </p>
              A free tool to easily create online social surveys that include the user's Facebook data (upon permission).
            <br /><br />
        <p>

            <a class="btn primary large" href="/signup">Start creating surveys »</a>
        </p>
        
        <div style="clear:both;"></div>
</div>

<div class="row">
    <div class="span-one-third">
      <h2>Free.</h2>
          <p>
              For personal and academic/research purposes.
          </p>
    </div>
    
    <div class="span-one-third">
        <h2>Workable.</h2>
           <p>
               Export your results for use in your favorite data analysis program.
           </p>
    </div>
    
    <div class="span-one-third">
      <h2>Scientific.</h2>
      <p>
          You can even use those grid type questions and attach a weight score to each answer.
      </p>
    </div>
</div>