<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="Online boards with lists and scribbles." />

<link rel="shortcut icon" href="/images/favicon.ico">

<!-- IF debuglog -->
<link rel="stylesheet" href="/css/debuglog.css" type="text/css" />
<!-- ENDIF -->

<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/css/startpage.css" type="text/css" />
<link rel="stylesheet" href="/css/default.css" type="text/css" />

<!-- IF __isLocalEnvironment -->
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<!-- ELSE -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<!-- ENDIF -->

<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/buzz.js" type="text/javascript"></script>

<script>

$(document).ready(function(){
    $('.dropdown-toggle').dropdown();
});
</script>

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="/js/html5.js"></script>
<![endif]-->