<!-- WRAPPER template < mail/mail.wrapper.html -->

<h3>{invitername} just shared a BarListo board {board.boardname} with you. Awesome!</h3>

<!-- IF isnewuser -->

<p>
    To view the board you can log in at <a href="http://www.barlisto.com">barlisto.com</a> using your e-mail address and the 
    default password 'changeme' (without quotes).
</p>

<p>
    Once logged in you should adjust your username and password in your account settings!
</p>

<p>
    <a href="http://www.barlisto.com">View this board!</a>
</p>

<!-- ELSE -->
<p>
    Log in at <a href="http://www.barlisto.com">barlisto.com</a> to view your boards.
</p>
<!-- ENDIF -->