<!-- WRAPPER template < mail/mail.wrapper.html -->

<h2>The password for your {sitename} account has been reset</h2>

<p>
    You can login at <a href="{loginurl}">{sitename}</a> with the following e-mail address and password:
</p>

<p>
    <strong>E-mail:</strong> {email}<br />
    <strong>Password:</strong> {newpass}<br />
</p>

<p>
    Remember, once logged in you can always change your password from the <a href="{accountsettingsurl}">account settings</a>.
</p>
<p>

    Dearest regards,<br />
    <br />
    the <a href="http://www.barlisto.com">{sitename}</a> team <br />

</p>